<!-- Use Cases Section -->
<section class="use-cases-section">
    <div class="container">
        <h2 class="section-heading">{{ .Params.variables.use_case_heading }}</h2>
        <p class="section-intro">{{ .Params.variables.use_case_intro }}</p>
        
        <div class="use-cases-grid">
            {{ if and .Params.variables.use_case_1_heading .Params.variables.use_case_1_description }}
            <div class="use-case-item">
                <h3>{{ .Params.variables.use_case_1_heading }}</h3>
                <p>{{ .Params.variables.use_case_1_description }}</p>
            </div>
            {{ end }}
            
            {{ if and .Params.variables.use_case_2_heading .Params.variables.use_case_2_description }}
            <div class="use-case-item">
                <h3>{{ .Params.variables.use_case_2_heading }}</h3>
                <p>{{ .Params.variables.use_case_2_description }}</p>
            </div>
            {{ end }}
            
            {{ if and .Params.variables.use_case_3_heading .Params.variables.use_case_3_description }}
            <div class="use-case-item">
                <h3>{{ .Params.variables.use_case_3_heading }}</h3>
                <p>{{ .Params.variables.use_case_3_description }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</section> 